<p> This is from Parent @fragmentOne @fragmentTwo</p>

@code {
    [Parameter]
    public RenderFragment fragmentOne { get; set; }
    [Parameter]
    public RenderFragment fragmentTwo { get; set; }
}
